{% extends 'portfolio/base.html' %}


  {% block nav %} {% include "about/nav/about_nav.html" %} {% endblock nav %}


{% block content %}
<section class="page about">
    <h1 class="heading">this is the about me view</h1>
    <article class="two_even right">
        <section class="about_container">
            <h2 class="sub_heading">Who I am</h2>
            <p class="about_blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="about_blurb"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
        <section class="about_container">
        <h2 class="sub_heading">Information</h2>
            <h3 class="title">Location</h3><p class="about_blurb">Oceanside, CA</p>
            <br>
            <h3 class="title">Phone</h3><p class="about_blurb">3607515707</p>
            <br>
            <h3 class="title">Email</h3><p class="about_blurb">adrienne.j.karnoski@gmail.com</p>
        </section>
    </article>
</section>

{% endblock %}