{% extends 'portfolio/base.html' %}


  {% block nav %} {% include "about/nav/education_nav.html" %} {% endblock nav %}


{% block content %}
<section class="page education">
    <h1 class="heading">this is the education view</h1>
    <section class="education_container clearfix">
        <article class="two_small left">
            <h2 class="sub_heading">One</h2>
        </article>
        <article class="two_big right">
            <ul class="education_list">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
            </ul>
        </article>
    </section>
    <section class="education_container clearfix">
        <article class="two_small left">
            <h2 class="sub_heading">Two</h2>
        </article>
        <article class="two_big right">
            <ul class="education_list">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
            </ul>
        </article>
    </section>
    <section class="education_container clearfix">
        <article class="two_small left">
            <h2 class="sub_heading">Three</h2>
        </article>
        <article class="two_big right">
            <ul class="education_list">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
            </ul>
        </article>
    </section>
</section>

{% endblock %}