{% extends 'portfolio/base.html' %}


  {% block nav %} {% include "about/nav/education_nav.html" %} {% endblock nav %}


{% block content %}
<section class="page education">
    <h1 class="heading">this is the education view</h1>
    <section class="education_container clearfix">
        <article class="two_small left">
            <h2 class="sub_heading">Code Fellows</h2>
            <h3>JULY  2017 - DECEMBER 2017</h3>
        </article>
        <article class="two_big right">
            <ul class="education_list">
                <li>Seattle, WA</li>
                <li>Advanced Software Development in Python</li>
                <li>Certificate</li>
            </ul>
        </article>
    </section>
    <section class="education_container clearfix">
        <article class="two_small left">
            <h2 class="sub_heading">US Navy</h2>
            <h3 class="title">AUGUST 2012 - SEPTEMBER 2013</h3>
        </article>
        <article class="two_big right">
            <ul class="education_list">
                <li>Fort Sam Houston, TX</li>
                <li>Advanced Radiographic Technician</li>
                <li>NEC 8452</li>
            </ul>
        </article>
    </section>
    <section class="education_container clearfix">
        <article class="two_small left">
            <h2 class="sub_heading">US Navy</h2>
            <h3 class="title">MARCH 2012 - JUNE 2012</h3>
        </article>
        <article class="two_big right">
            <ul class="education_list">
                <li>Fort Sam Houston, TX</li>
                <li>Hospital Corpsman Basic Training</li>
                <li>NEC 0000</li>
            </ul>
        </article>
    </section>
</section>

{% endblock %}