{% extends 'portfolio/base.html' %}


  {% block nav %} {% include "about/nav/skills_nav.html" %} {% endblock nav %}


{% block content %}
<section class="page skills">
    <h1 class="heading">this is the skills view</h1>
    <section class="skills_container clearfix">
        <article class="four left">
            <h2 class="sub_heading">Languages</h2>
            <ul class="skills_list">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
                <li>four</li>
            </ul>
        </article>
        <article class="four left">
            <h2 class="sub_heading">Tools</h2>
            <ul class="skills_list">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
                <li>four</li>
            </ul>
        </article>
        <article class="four left">
            <h2 class="sub_heading">Something</h2>
            <ul class="skills_list">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
                <li>four</li>
            </ul>
        </article>
        <article class="four left">
            <h2 class="sub_heading">Personal</h2>
            <ul class="skills_list">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
                <li>Five</li>
            </ul>
        </article>
    </section>
</section>

{% endblock %}