{% extends 'portfolio/base.html' %}


  {% block nav %} {% include "projects/nav/projects_nav.html" %} {% endblock nav %}


{% block content %}
<section class="page projects">
    <h1 class="heading">Projects and Code Samples</h1>
    <section class="projects_container clearfix">
        <article class="two_small left text_center">
            <i class="fas fa-wrench fa-5x"></i>
        </article>
        <article class="two_big right">
             <h2>Avalara</h2>
                <ul class="project_list">
                    <li>One</li>
                    <li>Github</li>
        
                </ul>
                <a href="{% url 'projects:one' %}" class="project_link">Case Study<i class="fas fa-angle-right"></i></a>
        </article>
    </section>
    <section class="projects_container clearfix">
        <article class="two_small left text_center">
            <i class="far fa-chart-bar fa-5x"></i>
        </article>
        <article class="two_big right">
             <h2>Data Structures</h2>
                <ul class="project_list">
                    <li>One</li>
                    <li>Two</li>
                </ul>
                <a href="{% url 'projects:one' %}" class="project_link">Case Study<i class="fas fa-angle-right"></i></a>
        </article>
    </section>
    <section class="projects_container clearfix">
        <article class="two_small left text_center">
            <i class="far fa-address-card fa-5x"></i>
        </article>
        <article class="two_big right">
             <h2>Portfolio</h2>
                <ul class="project_list">
                    <li>One</li>
                    <li>Two</li>
                </ul>
                <a href="{% url 'projects:one' %}" class="project_link">Case Study <i class="fas fa-angle-right"></i></a>
        </article>
    </section>
    <section class="projects_container clearfix">
        <article class="two_small left text_center">
            <i class="fas fa-pencil-alt fa-5x"></i>
        </article>
        <article class="two_big right">
             <h2>Learning Journal</h2>
                <ul class="project_list">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>
                <a href="{% url 'projects:one' %}" class="project_link">Case Study<i class="fas fa-angle-right"></i></a>
        </article>
    </section>
    <section class="projects_container clearfix">
        <article class="two_small left text_center">
            <i class="fas fa-link fa-5x"></i>
        </article>
        <article class="two_big right">
             <h2>Block Chain</h2>
                <ul class="project_list">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>
                <a href="{% url 'projects:one' %}" class="project_link">Case Study<i class="fas fa-angle-right"></i></a>
        </article>
    </section>
    <section class="projects_container clearfix">
        <article class="two_small left text_center">
            <i class="fas fa-globe fa-5x"></i>
        </article>
        <article class="two_big right">
             <h2>Job Scraper</h2>
                <ul class="project_list">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>
                <a href="{% url 'projects:one' %}" class="project_link">Case Study<i class="fas fa-angle-right"></i></a>
        </article>
    </section>
    <section class="projects_container clearfix">
        <article class="two_small left text_center">
            <i class="fas fa-cog fa-5x"></i>
        </article>
        <article class="two_big right">
             <h2>Machine Learning</h2>
                <ul class="project_list">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>
                <a href="{% url 'projects:one' %}" class="project_link">Case Study<i class="fas fa-angle-right"></i></a>
        </article>
    </section>
</section>
        

 


{% endblock %}